// page.scss
@import './app/variables';

h1 {

  color: $text-title;

  + .palette2 {
    color: $text-title-2;
  }
  
  font-weight: 600;
  font-size: 6vh;
  line-height: 5vh;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $bg-dark;
  @apply rounded-xl;
  height: 85vh;
}

.app-container, .info-credits {
  width: 85vw; 
}
.info-credits {
  color: $text-light-on-dark;
  a {
    text-decoration: underline;
  }
}

#theMessage {
  padding: 0 10vw 15vh 10vw;
  font-size: 2.5rem;
}

// TODO: is this working correctly:
.fadeUp {
  opacity: 0;
  transition: all;
}

button {
  background: $button-bg;
  padding: 3rem;
  font-size: 1.75rem;
  font-color: $button-text;

  align-self: center;

  @apply font-bold py-2 px-4 rounded;
  transition: all 0.45s ease-out;

  &:hover {
    background: $button-hover;
  }
}

// Responsive design adjustment for med-large screens (ie, not phones)
// TODO: should be able to replace 'min-width: 640px' with 'sm' in tailwind
@media (min-width: 640px) {
  h1 {
    font-size: 10vh;
    line-height: 7.25vh;
  }
  .app-container {
      height: 80vh;
  }
  .app-container, .info-credits {
    width: 80vw; 
  }
}