// page.scss
@import './app/variables';

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  background: $bg-dark;
  @apply rounded-xl;
}

#theMessage {
  padding: 10vh 10vw;
  font-size: 2.5rem;
}

button {
  background: $button-bg;
  padding: 3rem;
  font-size: 1.75rem;
  font-color: $button-text;

  align-self: center;

  @apply font-bold py-2 px-4 rounded;
  transition: all 0.25s ease-out;

  &:hover {
    background: $button-hover;
  }
}