// color vars

// Site colors - 'Emerald' from UIcolors.app: 
$darkest: #022c22;

$bg-dark: #065f46;
$bg-mid: #10b981;
$bg-light: #a7f3d0;

$text-title: #6ee7b7;
$text-light-on-dark: #d1fae5;
$text-dark-on-light: #047857;

$button-text: #047857; 
$button-bg: #10b981;
$button-hover: #022c22;

$lightest: #ecfdf5;


// Site colors - 'Electric Violet': 
$darkest-2: #2c0076;

$bg-dark-2: #5a03d5;
$bg-mid-2: #843dff;
$bg-light-2: #bea6ff;

$text-title-2: #ebe5ff;
$text-light-on-dark-2: #d9ceff;
$text-dark-on-light-2: #7916ff;

$button-text-2: #7916ff; 
$button-bg-2: #843dff;
$button-hover-2: #2c0076;

$lightest-2: #f3f1ff;




// Site colors - 'Rose': 
$darkest-3: #4c0519;

$bg-dark-3: #9f1239;
$bg-mid-3: #e11d48;
$bg-light-3: #fecdd3;

$text-title-3: #fecdd3;
$text-light-on-dark-3: #fecdd3;
$text-dark-on-light-3: #881337;

$button-text-3: #881337; 
$button-bg-3: #e11d48;
$button-hover-3: #4c0519;

$lightest-3: #fff1f2;